# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Env files
.env
.env.*.local

# Logs
logs/
*.log
log.txt

# OS files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.swp

# Build output (React / Vite)
dist/
build/

# Coverage reports
coverage/

# Docker
*.tar
*.img
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
*.terraform/
terraform.tfvars
crash.log
override.tf
override.tf.json
.terraform.lock.hcl
terraform.tfvars.json

# Misc
*.bak
*.orig
